language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6
install:
  - "pip install -q Django==$DJANGO_VERSION"
  - "python setup.py -q install"
services:
  - elasticsearch
  - postgresql
before_script:
  - psql -c 'create database elastimorphic;' -U postgres
script: "python setup.py test"
